-title "Zmiana obrazku profilowego > Bayside Role Play"
%h1 Zmiana obrazku profilowego
= form_for @player, :html => { :multipart => true } do |f|
  %table
    %tr
      %td= f.file_field :avatar
    %td= submit_tag "Zmień avatar!"