-title "Logi gracza > Bayside Role Play"
%h1 Logi
.vehicles{:style => 'text-align: center;'} W przygotowaniu.
.right.invert
	.section.tasks
		.header
			%h3 Logowania (Z ostatnich 30 dni)
		.content
			%table{:cellspacing => "0"}
				%thead
					%tr
						%th{:width => "40%"} Adres IP
						%th Data
				%tbody
					%tr
						%td 83.30.136.213
						%td 9 Październik 2011, 14:46:08
					%tr
						%td 83.22.168.130
						%td 8 Październik 2011, 15:05:31
					%tr
						%td 83.22.168.130
						%td 8 Październik 2011, 14:46:25
					%tr
						%td 83.22.168.130
						%td 8 Październik 2011, 14:26:40
		.header
			%h3 Kicki
		.content
			%table{:cellspacing => "0"}
				%thead
					%tr
						%th{:width => "40%"} Powód
						%th{:width => "40%"} Data
						%th Nałożył karę
				%tbody
					%tr
						%td odwalanie
						%td 23 Kwiecień 2010, 23:59:54
						%td Lambert Longworth
					%tr
						%td Motorem po schodach
						%td 5 Kwiecień 2010, 22:55:26
						%td George Wilson
					%tr
						%td Odwalanie
						%td 5 Kwiecień 2010, 18:37:54
						%td Lambert Longworth
					%tr
						%td ZNOWU ODWALASZ?!
						%td 4 Kwiecień 2010, 23:47:29
						%td Lambert Longworth
					%tr
						%td odwalanie. Mam cię.
						%td 4 Kwiecień 2010, 23:35:31
						%td Lambert Longworth
					%tr
						%td Naucz się jeździć.
						%td 21 Luty 2010, 13:27:19
						%td Rusty Murray
					%tr
						%td odejdź stąd.
						%td 29 Grudzień 2009, 20:13:29
						%td Blaise Apologuosi
					%tr
						%td Spam na /wezwij medyk.
						%td 26 Wrzesień 2009, 18:54:19
						%td Stephen Mezarelli
					%tr
						%td AFK
						%td 21 Wrzesień 2009, 18:11:39
						%td Hisato Igarashi
					%tr
						%td uninvite
						%td 22 Sierpień 2009, 22:43:34
						%td Pascal Foulques
					%tr
						%td AFK.
						%td 21 Sierpień 2009, 00:02:28
						%td Sammy Petracano
					%tr
						%td Słownictwo.
						%td 18 Sierpień 2009, 00:00:05
						%td Sammy Petracano
		.header
			%h3 Ostrzeżenia
		.content
			%table{:cellspacing => "0"}
				%thead
					%tr
						%th{:width => "40%"} Powód
						%th{:width => "10%"} Rodzaj
						%th{:width => "30%"} Data
						%th Nałożył karę
				%tbody
					%tr
						%td Od Burtona za odwalanie
						%td{:style => "color: red;"} +
						%td 5 Kwiecień 2010, 22:56:32
						%td Romano Carradine
					%tr
						%td DM,OOC gra.
						%td{:style => "color: red;"} +
						%td 13 Grudzień 2009, 22:29:12
						%td Stephen Mezarelli
		.header
			%h3 Jaile
		.content
			%table{:cellspacing => "0"}
				%thead
					%tr
						%th{:width => "40%"} Powód
						%th{:width => "10%"} Czas
						%th{:width => "30%"} Data
						%th{:width => "30%"} Nałożył karę
				%tbody
					%tr
						%td To już przesada trochę.
						%td 40 min
						%td 10 Luty 2010, 22:04:06
						%td Randall Stumbles
					%tr
						%td jazda non-rp. [120]
						%td 120 min
						%td 13 Grudzień 2009, 22:30:19
						%td Stephen Mezarelli
					%tr
						%td Wyjaśnione.
						%td 0 min
						%td 12 Grudzień 2009, 20:21:37
						%td Stephen Mezarelli
					%tr
						%td Tak się nie parkuje wozów. [30]
						%td 30 min
						%td 12 Grudzień 2009, 20:13:09
						%td Stephen Mezarelli
					%tr
						%td My też cie lubimy
						%td 5 min
						%td 8 Październik 2009, 20:02:39
						%td Dimitry Petrov
					%tr
						%td Odebranie wypłaty niezgodnie z zasadami serwera RP
						%td 30 min
						%td 16 Sierpień 2009, 13:15:53
						%td Stephen Mezarelli