-title "Zmiana ubrania > Bayside Role Play"
%h1 Zmiana ubrania
=image_tag("skins/min/male/1.png", :class => 'skins', :id => '1')
=image_tag("skins/min/male/2.png", :class => 'skins', :id => '2')
=image_tag("skins/min/male/3.png", :class => 'skins', :id => '3')
=image_tag("skins/min/male/4.png", :class => 'skins', :id => '4')
=image_tag("skins/min/male/5.png", :class => 'skins', :id => '5')
=image_tag("skins/min/male/6.png", :class => 'skins', :id => '6')
=image_tag("skins/min/male/7.png", :class => 'skins', :id => '7')
=image_tag("skins/min/male/8.png", :class => 'skins', :id => '8')
=image_tag("skins/min/male/14.png", :class => 'skins', :id => '14')
=image_tag("skins/min/male/15.png", :class => 'skins', :id => '15')
=image_tag("skins/min/male/18.png", :class => 'skins', :id => '18')
=image_tag("skins/min/male/19.png", :class => 'skins', :id => '19')
=image_tag("skins/min/male/20.png", :class => 'skins', :id => '20')
=image_tag("skins/min/male/21.png", :class => 'skins', :id => '21')
=image_tag("skins/min/male/23.png", :class => 'skins', :id => '23')
=image_tag("skins/min/male/24.png", :class => 'skins', :id => '24')
=image_tag("skins/min/male/25.png", :class => 'skins', :id => '25')
=image_tag("skins/min/male/26.png", :class => 'skins', :id => '26')
=image_tag("skins/min/male/32.png", :class => 'skins', :id => '32')
=image_tag("skins/min/male/33.png", :class => 'skins', :id => '33')
=image_tag("skins/min/male/34.png", :class => 'skins', :id => '34')
=image_tag("skins/min/male/35.png", :class => 'skins', :id => '35')
=image_tag("skins/min/male/36.png", :class => 'skins', :id => '36')
=image_tag("skins/min/male/37.png", :class => 'skins', :id => '37')
=image_tag("skins/min/male/38.png", :class => 'skins', :id => '38')
=image_tag("skins/min/male/42.png", :class => 'skins', :id => '42')
=image_tag("skins/min/male/43.png", :class => 'skins', :id => '43')
=image_tag("skins/min/male/44.png", :class => 'skins', :id => '44')
=image_tag("skins/min/male/45.png", :class => 'skins', :id => '45')
=image_tag("skins/min/male/46.png", :class => 'skins', :id => '46')
=image_tag("skins/min/male/47.png", :class => 'skins', :id => '47')
=image_tag("skins/min/male/48.png", :class => 'skins', :id => '48')
=image_tag("skins/min/male/49.png", :class => 'skins', :id => '49')
=image_tag("skins/min/male/50.png", :class => 'skins', :id => '50')
=image_tag("skins/min/male/51.png", :class => 'skins', :id => '51')
=image_tag("skins/min/male/52.png", :class => 'skins', :id => '52')
=image_tag("skins/min/male/57.png", :class => 'skins', :id => '57')
=image_tag("skins/min/male/58.png", :class => 'skins', :id => '58')
=image_tag("skins/min/male/60.png", :class => 'skins', :id => '60')
=image_tag("skins/min/male/62.png", :class => 'skins', :id => '62')
=image_tag("skins/min/male/66.png", :class => 'skins', :id => '66')
=image_tag("skins/min/male/67.png", :class => 'skins', :id => '67')
=image_tag("skins/min/male/68.png", :class => 'skins', :id => '68')
=image_tag("skins/min/male/72.png", :class => 'skins', :id => '72')
=image_tag("skins/min/male/73.png", :class => 'skins', :id => '73')
=image_tag("skins/min/male/78.png", :class => 'skins', :id => '78')
=image_tag("skins/min/male/79.png", :class => 'skins', :id => '79')
=image_tag("skins/min/male/80.png", :class => 'skins', :id => '80')
=image_tag("skins/min/male/81.png", :class => 'skins', :id => '81')
=image_tag("skins/min/male/82.png", :class => 'skins', :id => '82')
=image_tag("skins/min/male/83.png", :class => 'skins', :id => '83')
=image_tag("skins/min/male/84.png", :class => 'skins', :id => '84')
=image_tag("skins/min/male/94.png", :class => 'skins', :id => '94')
=image_tag("skins/min/male/95.png", :class => 'skins', :id => '95')
=image_tag("skins/min/male/96.png", :class => 'skins', :id => '96')
=image_tag("skins/min/male/98.png", :class => 'skins', :id => '98')
=image_tag("skins/min/male/99.png", :class => 'skins', :id => '99')
=image_tag("skins/min/male/100.png", :class => 'skins', :id => '100')
=image_tag("skins/min/male/101.png", :class => 'skins', :id => '101')
=image_tag("skins/min/male/119.png", :class => 'skins', :id => '119')
=image_tag("skins/min/male/128.png", :class => 'skins', :id => '128')
=image_tag("skins/min/male/132.png", :class => 'skins', :id => '132')
=image_tag("skins/min/male/133.png", :class => 'skins', :id => '133')
=image_tag("skins/min/male/134.png", :class => 'skins', :id => '134')
=image_tag("skins/min/male/135.png", :class => 'skins', :id => '135')
=image_tag("skins/min/male/136.png", :class => 'skins', :id => '136')
=image_tag("skins/min/male/137.png", :class => 'skins', :id => '137')
=image_tag("skins/min/male/142.png", :class => 'skins', :id => '142')
=image_tag("skins/min/male/154.png", :class => 'skins', :id => '154')
=image_tag("skins/min/male/155.png", :class => 'skins', :id => '155')
=image_tag("skins/min/male/156.png", :class => 'skins', :id => '156')
=image_tag("skins/min/male/158.png", :class => 'skins', :id => '158')
=image_tag("skins/min/male/159.png", :class => 'skins', :id => '159')
=image_tag("skins/min/male/160.png", :class => 'skins', :id => '160')
=image_tag("skins/min/male/161.png", :class => 'skins', :id => '161')
=image_tag("skins/min/male/162.png", :class => 'skins', :id => '162')
=image_tag("skins/min/male/167.png", :class => 'skins', :id => '167')
=image_tag("skins/min/male/168.png", :class => 'skins', :id => '168')
=image_tag("skins/min/male/170.png", :class => 'skins', :id => '170')
=image_tag("skins/min/male/171.png", :class => 'skins', :id => '171')
=image_tag("skins/min/male/172.png", :class => 'skins', :id => '172')
=image_tag("skins/min/male/180.png", :class => 'skins', :id => '180')
=image_tag("skins/min/male/181.png", :class => 'skins', :id => '181')
=image_tag("skins/min/male/182.png", :class => 'skins', :id => '182')
=image_tag("skins/min/male/183.png", :class => 'skins', :id => '183')
=image_tag("skins/min/male/184.png", :class => 'skins', :id => '184')
=image_tag("skins/min/male/185.png", :class => 'skins', :id => '185')
=image_tag("skins/min/male/188.png", :class => 'skins', :id => '188')
=image_tag("skins/min/male/189.png", :class => 'skins', :id => '189')
=image_tag("skins/min/male/200.png", :class => 'skins', :id => '200')
=image_tag("skins/min/male/202.png", :class => 'skins', :id => '202')
=image_tag("skins/min/male/203.png", :class => 'skins', :id => '203')
=image_tag("skins/min/male/204.png", :class => 'skins', :id => '204')
=image_tag("skins/min/male/206.png", :class => 'skins', :id => '206')
=image_tag("skins/min/male/209.png", :class => 'skins', :id => '209')
=image_tag("skins/min/male/210.png", :class => 'skins', :id => '210')
=image_tag("skins/min/male/212.png", :class => 'skins', :id => '212')
=image_tag("skins/min/male/213.png", :class => 'skins', :id => '213')
=image_tag("skins/min/male/217.png", :class => 'skins', :id => '217')
=image_tag("skins/min/male/220.png", :class => 'skins', :id => '220')
=image_tag("skins/min/male/223.png", :class => 'skins', :id => '223')
=image_tag("skins/min/male/229.png", :class => 'skins', :id => '229')
=image_tag("skins/min/male/230.png", :class => 'skins', :id => '230')
=image_tag("skins/min/male/234.png", :class => 'skins', :id => '234')
=image_tag("skins/min/male/235.png", :class => 'skins', :id => '235')
=image_tag("skins/min/male/236.png", :class => 'skins', :id => '236')
=image_tag("skins/min/male/239.png", :class => 'skins', :id => '239')
=image_tag("skins/min/male/240.png", :class => 'skins', :id => '240')
=image_tag("skins/min/male/241.png", :class => 'skins', :id => '241')
=image_tag("skins/min/male/242.png", :class => 'skins', :id => '242')
=image_tag("skins/min/male/247.png", :class => 'skins', :id => '247')
=image_tag("skins/min/male/248.png", :class => 'skins', :id => '248')
=image_tag("skins/min/male/250.png", :class => 'skins', :id => '250')
=image_tag("skins/min/male/252.png", :class => 'skins', :id => '252')
=image_tag("skins/min/male/253.png", :class => 'skins', :id => '253')
=image_tag("skins/min/male/254.png", :class => 'skins', :id => '254')
=image_tag("skins/min/male/258.png", :class => 'skins', :id => '258')
=image_tag("skins/min/male/259.png", :class => 'skins', :id => '259')
=image_tag("skins/min/male/261.png", :class => 'skins', :id => '261')
=image_tag("skins/min/male/262.png", :class => 'skins', :id => '262')
=image_tag("skins/min/male/264.png", :class => 'skins', :id => '264')
=image_tag("skins/min/male/268.png", :class => 'skins', :id => '268')
=image_tag("skins/min/male/289.png", :class => 'skins', :id => '289')
=image_tag("skins/min/male/290.png", :class => 'skins', :id => '290')
=image_tag("skins/min/male/291.png", :class => 'skins', :id => '291')
=image_tag("skins/min/male/293.png", :class => 'skins', :id => '293')
=image_tag("skins/min/male/296.png", :class => 'skins', :id => '296')
=image_tag("skins/min/male/297.png", :class => 'skins', :id => '297')
=image_tag("skins/min/male/299.png", :class => 'skins', :id => '299')
-form_for @player do |f|
	= f.hidden_field(:skin)
	%br
	= f.submit 'Zmień ubranie'