-title "Zmiana ubrania > Bayside Role Play"
%h1 Zmiana ubrania
=image_tag("skins/min/male/1.png", :class => 'skins', :id => '1')
=image_tag("skins/min/male/2.png", :class => 'skins', :id => '2')
=image_tag("skins/min/male/3.png", :class => 'skins', :id => '3')
=image_tag("skins/min/male/4.png", :class => 'skins', :id => '4')
=image_tag("skins/min/male/5.png", :class => 'skins', :id => '5')
=image_tag("skins/min/male/6.png", :class => 'skins', :id => '6')
=image_tag("skins/min/male/7.png", :class => 'skins', :id => '7')
=image_tag("skins/min/male/8.png", :class => 'skins', :id => '8')
=image_tag("skins/min/male/14.png", :class => 'skins', :id => '14')
=image_tag("skins/min/male/15.png", :class => 'skins', :id => '15')
=image_tag("skins/min/male/18.png", :class => 'skins', :id => '18')
=image_tag("skins/min/male/19.png", :class => 'skins', :id => '19')
=image_tag("skins/min/male/20.png", :class => 'skins', :id => '20')
=image_tag("skins/min/male/21.png", :class => 'skins', :id => '21')
=image_tag("skins/min/male/23.png", :class => 'skins', :id => '23')
=image_tag("skins/min/male/24.png", :class => 'skins', :id => '24')
=image_tag("skins/min/male/25.png", :class => 'skins', :id => '25')
=image_tag("skins/min/male/26.png", :class => 'skins', :id => '26')
=image_tag("skins/min/male/32.png", :class => 'skins', :id => '32')
=image_tag("skins/min/male/33.png", :class => 'skins', :id => '33')
=image_tag("skins/min/male/34.png", :class => 'skins', :id => '34')
=image_tag("skins/min/male/35.png", :class => 'skins', :id => '35')
=image_tag("skins/min/male/36.png", :class => 'skins', :id => '36')
=image_tag("skins/min/male/37.png", :class => 'skins', :id => '37')
=image_tag("skins/min/male/38.png", :class => 'skins', :id => '38')
=image_tag("skins/min/male/42.png", :class => 'skins', :id => '42')
=image_tag("skins/min/male/43.png", :class => 'skins', :id => '43')
=image_tag("skins/min/male/44.png", :class => 'skins', :id => '44')
=image_tag("skins/min/male/45.png", :class => 'skins', :id => '45')
=image_tag("skins/min/male/46.png", :class => 'skins', :id => '46')
=image_tag("skins/min/male/47.png", :class => 'skins', :id => '47')
=image_tag("skins/min/male/48.png", :class => 'skins', :id => '48')
=image_tag("skins/min/male/49.png", :class => 'skins', :id => '49')
=image_tag("skins/min/male/50.png", :class => 'skins', :id => '50')
=image_tag("skins/min/male/51.png", :class => 'skins', :id => '51')

=image_tag("skins/min/male/52.png", :class => 'skins', :id => '52')
=image_tag("skins/min/male/57.png", :class => 'skins', :id => '57')
=image_tag("skins/min/male/58.png", :class => 'skins', :id => '58')
=image_tag("skins/min/male/60.png", :class => 'skins', :id => '60')
=image_tag("skins/min/male/62.png", :class => 'skins', :id => '62')
=image_tag("skins/min/male/66.png", :class => 'skins', :id => '66')
=image_tag("skins/min/male/67.png", :class => 'skins', :id => '67')


-form_for @player do |f|
	= f.hidden_field(:skin)
	= f.submit 'Zmień ubranie'