#title Bayside Role Play
#welcome_box
  -if !current_player
    Jesteś niezalogowany. Możesz
    %strong<>
      &nbsp;
      =link_to 'zalogować się', login_path
    \,  
    bądź
    %strong<>
      &nbsp;
      =link_to 'stworzyć nową postać', register_path
    \.
  -else
    Zalogowany jako
    %strong<>
      &nbsp;
      =link_to current_player.name, playershow_path(current_player)
    \.
    Twoje konto premium jest aktywne.
    |
    %strong<>
      &nbsp;
      =link_to 'Wyloguj się', logout_path
    \.