#title Bayside Role Play
#welcome_box
  Jesteś niezalogowany. Możesz
  %strong<>
    &nbsp;
    =link_to 'zalogować się', '#'
  \,  
  bądź
  %strong<>
    &nbsp;
    =link_to 'stworzyć nową postać', '#'
  \.