%h1 Rejestracja - Akceptacja Regulaminu - (1/3)
.comment
	%tr
		%td{:style => "padding-top: 20px; padding-left: 15px; padding-right: 40px; padding-bottom: 30px; text-align: justify;"}
			%h3 Regulamin serwera Bayside Role Play
			Ten regulamin jest do wypełnienia, niczym Lorem Ipsum
			%br
			%br
	%tr
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
			%b § 1 - Definicje
			%br
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} ServHost - Firma prowadzona w ramach działalności gospodarczej o nazwie ServHost Mateusz Paluszek, numerze NIP 716-276-92-66 oraz numerze REGON 060506951 z siedzibą przy ulicy Kołłątaja 47/35 w Puławach wpisana do ewidencji działalności gospodarczej pod numerem EDG 13019/09 prowadzonej przez Prezydenta Miasta Puławy dalej zwana jako firma ServHost.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} SA-MP.pl - Serwis internetowy o charakterze działalności usługowej dostępnej w sieci internet pod adresem URL http://sa-mp.pl prowadzony przez firmę ServHost.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 15px; text-align: justify;"} Użytkownik - Osoba korzystająca z serwisu SA-MP.pl.
	%tr
	%br
	%br
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
			%b § 2 - Opis oraz zasady świadczonych usług
			%br
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 1. Firma ServHost w ramach świadczonych usług udostępnia serwis internetowy SA-MP.pl
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 2. Firma ServHost zastrzega sobie prawo do ograniczenia dostępu lub całkowitego wyłączenia z sieci internet serwisu SA-MP.pl na potrzeby prowadzonych prac technicznych oraz konserwacyjnych w dowolnym momencie bez uprzedniego informowania użytkowników serwisu.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 15px; text-align: justify;"} 3. Firma ServHost zastrzega sobie prawo do zaprzestania świadczenia usług w ramach serwisu SA-MP.pl w dowolnym momencie bez podania przyczyny.
	%tr
	%br
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
		%br
			%b § 3 - Rejestracja konta
			%br
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 1. Firma ServHost w ramach świadczonych usług udostępnia serwis internetowy SA-MP.pl
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 2. Firma ServHost zastrzega sobie prawo do ograniczenia dostępu lub całkowitego wyłączenia z sieci internet serwisu SA-MP.pl na potrzeby prowadzonych prac technicznych oraz konserwacyjnych w dowolnym momencie bez uprzedniego informowania użytkowników serwisu.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 15px; text-align: justify;"} 3. Firma ServHost zastrzega sobie prawo do zaprzestania świadczenia usług w ramach serwisu SA-MP.pl w dowolnym momencie bez podania przyczyny.
	%tr
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
			%br
	%tr
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
			%br
			%b § 1 - Definicje
			%br
	%br
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} ServHost - Firma prowadzona w ramach działalności gospodarczej o nazwie ServHost Mateusz Paluszek, numerze NIP 716-276-92-66 oraz numerze REGON 060506951 z siedzibą przy ulicy Kołłątaja 47/35 w Puławach wpisana do ewidencji działalności gospodarczej pod numerem EDG 13019/09 prowadzonej przez Prezydenta Miasta Puławy dalej zwana jako firma ServHost.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} SA-MP.pl - Serwis internetowy o charakterze działalności usługowej dostępnej w sieci internet pod adresem URL http://sa-mp.pl prowadzony przez firmę ServHost.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 15px; text-align: justify;"} Użytkownik - Osoba korzystająca z serwisu SA-MP.pl.
	%tr
	%br
	%br
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
			%b § 2 - Opis oraz zasady świadczonych usług
			%br
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 1. Firma ServHost w ramach świadczonych usług udostępnia serwis internetowy SA-MP.pl
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 2. Firma ServHost zastrzega sobie prawo do ograniczenia dostępu lub całkowitego wyłączenia z sieci internet serwisu SA-MP.pl na potrzeby prowadzonych prac technicznych oraz konserwacyjnych w dowolnym momencie bez uprzedniego informowania użytkowników serwisu.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 15px; text-align: justify;"} 3. Firma ServHost zastrzega sobie prawo do zaprzestania świadczenia usług w ramach serwisu SA-MP.pl w dowolnym momencie bez podania przyczyny.
	%tr
	%br
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
		%br
			%b § 3 - Rejestracja konta
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 1. Firma ServHost w ramach świadczonych usług udostępnia serwis internetowy SA-MP.pl
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 10px; text-align: justify;"} 2. Firma ServHost zastrzega sobie prawo do ograniczenia dostępu lub całkowitego wyłączenia z sieci internet serwisu SA-MP.pl na potrzeby prowadzonych prac technicznych oraz konserwacyjnych w dowolnym momencie bez uprzedniego informowania użytkowników serwisu.
	%tr
		%td{:style => "padding-left: 80px; padding-right: 80px; padding-bottom: 15px; text-align: justify;"} 3. Firma ServHost zastrzega sobie prawo do zaprzestania świadczenia usług w ramach serwisu SA-MP.pl w dowolnym momencie bez podania przyczyny.
	%tr
		%td{:style => "padding-left: 40px; padding-bottom: 15px;"}
	%br
	%br
	= button_to "Przejdź do następnego etapu >", register_2_path