!!!

%html

  =render :partial => 'layouts/home/tags'

  %body
    #top_container
      #top
        =render :partial => "layouts/home/header"
      #content_container
        #content_left
          -if flash[:notice]
            :javascript
                $(document).ready(function(){
                jAlert('Operacja zakończona powodzeniem :)', 'Powodzenie');
                });
          -elsif flash[:error]
            :javascript
                $(document).ready(function(){
                jAlert('Operacja nie powiodła się.', 'Niepowodzenie');
                });
            %br
          = yield
        #side_menu
          =render :partial => "layouts/home/side"
        %br.clearfloat
        %br

