!!!

%html

  =render :partial => 'layouts/home/tags'

  %body
    #top_container
      #top
        =render :partial => "layouts/home/header"
      #content_container
        #content_left
          -if flash[:notice]
            :javascript
                $(document).ready(function(){
                jAlert('Zmiany zostały zapisane pomyślnie!', 'Powodzenie');
                });
          -elsif flash[:error]
            :javascript
                $(document).ready(function(){
                jAlert('Zmiany nie mogły zostać zapisane.', 'Niepowodzenie');
                });
            %br
          = yield
        #side_menu
          =render :partial => "layouts/home/sidecockpit"
        %br.clearfloat
        %br

